@import "variables.scss";

html {
   font-size: 62.5%;
   min-height: 100%;
   position: relative;
}

body {
   font-family: "Cinzel", serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: #000;
   color: #fff;
   overflow-x: hidden;
   font-weight: bold;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
   text-align: left;
   padding: 0;
}

h2 {
   font-size: 1.6rem;

   @media (min-width: 40em) {
      font-size: 2rem;
   }
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.skip {
   background: #e88e06;
   padding: 0.4rem 0.8rem;
   border-radius: 0.4rem;
   color: black;
   font-size: 1.6rem;
   font-weight: bold;
   position: absolute;
   top: -20rem;
   left: 0.4rem;
   transition: top 0.2s ease-in-out;

   &:focus {
      top: 0.6rem;
   }
}

.content {
   flex: 1;
   max-width: 114rem;
   width: 95%;
   margin: auto;
   text-align: center;
   padding: 5rem 0 0;
   font-size: 1.4rem;
   line-height: 1.8;
   min-height: 69vh;

   @media (min-width: 40em) {
      font-size: 1.6rem;
   }
}

.content__text {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
}

.footer {
   padding: 3.5rem 0;
   text-align: center;
   font-size: 1.4rem;
}

.footer__copyright {
   font-size: 1.6rem;
   font-weight: bold;
   padding: 0 0 2rem;
}

.footer__social-media {
   font-size: 2rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   max-width: 20rem;
   margin: auto;
}

.carousel.carousel-slider {
   max-width: 400px;
   margin: auto !important;
}

.bm-overlay {
   background: rgba(0, 0, 0, 0.3);
}

.carousel .thumbs {
   text-align: center;
}

.header__cart-remove {
   font-size: 2.5rem;
   cursor: pointer;
}
