@import "variables.scss";

html {
   font-size: 62.5%;
}

body {
   font-family: "Cinzel", serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: $blue-charcoal;
   color: white;
   overflow-x: hidden;
}

a {
   text-decoration: none;
}

.wrapper {
   padding: 0 1.6rem;
}

.content {
   max-width: 120rem;
   margin: auto;
   text-align: center;
   padding: 5rem 0 0;
   font-size: 1.2rem;
   min-height: 50vh;

   @media (min-width: 40em) {
      font-size: 1.6rem;
   }
}

.footer {
   text-align: center;
   font-size: 1.4rem;
   margin: 4rem 0;
}

.footer__copyright {
   font-size: 1.6rem;
   padding: 0 0 2rem;
}

.footer__social-media {
   font-size: 2rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   max-width: 20rem;
   margin: auto;
}
