@import "../../variables.scss";

.header {
   padding: 1.2rem 0;
   position: relative;
}

.header__title {
   margin: 0;
   text-shadow: 2px 1px 5px;
   text-decoration: none;
   text-align: center;
}

.header__links {
   list-style: none;
   padding: 0;
   text-align: center;
   display: flex;
   justify-content: space-between;
   max-width: 40rem;
   margin: auto;
   position: relative;
   padding: 0 2.5rem;
   background: $blue-charcoal;
}

.header__link {
   display: inline-flex;

   &:first-child {
      padding: 0;
   }
}

.header--text-color {
   color: $tahiti-gold;
   transition: 0.2s color;

   &:hover {
      color: $salomie;
   }
}

.header--text {
   font-size: 4rem;
   text-align: center;
}

.header--subtext {
   font-size: 1.7rem;
   font-weight: bold;
}

.header--link-border {
   border-bottom: 3px solid $tahiti-gold;
   position: absolute;
   top: 50%;
   width: 100%;
}

.header__categories {
   position: relative;
}

.header__top {
   position: relative;
}

.header__cart {
   color: $tahiti-gold;
   font-size: 3rem;
   cursor: pointer;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 999;
}
